<div class="flex-grid">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Bais Character</mat-label>
      <input matInput placeholder="Bais character e.g. a" value="" />
    </mat-form-field>
  </form>
  <mat-icon
   
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="schedule"
  ></mat-icon>
  <button mat-flat-button (click)="generateMatrix()">
    {{ isGenerating() ? 'Stop' : 'Start' }} Generation
  </button></div>
<div class="example-grid">
<mat-grid-list cols="10" rowHeight="50px">
  @for (cell of (displayGrid()); track $index) {
  <mat-grid-tile>
    {{ cell }}
  </mat-grid-tile>
  }
</mat-grid-list>
</div>
<div class="badge-div">
  <span
    matBadge="Live"
    matBadgeColor="warn"
    matBadgePosition="before"
    class="live-badge"
    matBadgeSize="medium"
    matBadgeOverlap="false"
  >
  </span>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Your Code</mat-label>
    <input matInput placeholder="Ex. a" value={{response().gridCode}} readonly="true" />
  </mat-form-field>
</div>
